{% extends 'learning_logs/base.html' %}

{% block content %}
   <div class="container text-center">
       <h2>Add a new entry:</h2>
       <br/>
        <h4>Topic name:
            <a href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic.text }}
            </a>
            <br/>
            <br/>
        </h4>
        
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary ">Add</button>
        </form>
   </div>
{% endblock %}

